*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configuración de la tipografía general */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  display: flex;
  flex-direction: column;

  h1{
    color:$color-text;
    font-size: 1.65rem;
    text-align: center;
    margin:7px;
  }
  .card{
    max-width:50%;
    height: auto;
    background-color: $bg-color-card;
    border:none;
    h2{
      color:$color-text-h2;
      font-size: 1.2rem;
      text-align: left;
      
    }
    p{
      color:$color-text;
      min-width: auto;
    }
  }
 
}

/*navbar*/
nav {
  background:$gradient-color; 
  padding: 10px;
  ul {
    display: flex; 
    justify-content: flex-end; 
    margin: 0;  
    padding: 0; 
    list-style: none; 
    
    li {
      margin-left: 20px; 
      
      a {
        color: $color-link;         
        font-size: 16px;  
        transition: color 0.3s;
        text-decoration: none;
        
        &:hover {
          color: $color-link-hover;
        }
      }
    }
  }
}
footer{
  text-align: center;
  background:$gradient-color;
  height: 75px;
  display: flex;
  flex-direction: row;
  row-gap: 12px;
  justify-content: center;
  margin-top: auto;
  align-items: center;

  .social-icons {

    margin-top: 10px;
    display: flex;
    gap: 15px;

    .social-icon {
      color: $color-link;
      font-size: 18px;
      transition: color 0.3s;
      
      &:hover {
        color: $color-link-hover;
      }
    }
  }

  p{
    font-weight: bold;
  }
}