body {
    height: 100vh;
    background-image: url('/src/images/20250415_0927_Fondo\ Hunt_\ Showdown_simple_compose_01jrwpj9h9fsh9zcbr6c284fkm.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.carrusel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32%;
    height: 39%;
}




