$color-link-hover: #a72828;
$color-primary: #1a1a1a;
$color-secondary: #333;
$font-family: 'Arial', sans-serif;
$bg-color-transparent:rgba(14, 13, 13, 0.788);
$color-link: #e0e414;
$gradient-color: linear-gradient(90deg, rgb(8, 45, 94) 0%, rgb(69, 90, 136) 50%, rgba(8, 45, 94) 100%);
$bg-color-card:rgba(128, 128, 128, 0.5);
$color-text:#dcddd1;
$color-text-h2: #52a3e6;
$color-text-h3: #7fb84a;