* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
 

  header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    
    h1 {
      font-size: 1.7rem;
    }
  }
  main{
    min-height: 100vh; 
    padding-top: 100px; 
    padding-bottom: 80px;
    background-image: url('/src/images/');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #212529;
    min-height: 100vh;
  }
}
@media (max-width: 768px) {
  footer.fixed-bottom {
    position: static !important;
  } 
  main {
      background-image: linear-gradient(to bottom, #444, #000)!important;
      background-size: cover!important;
      background-position: center!important;
      background-repeat: no-repeat!important;
      background-attachment: scroll!important;
  }
 }

