* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: $font-family;
    background-image: url('/src/images/background1.png');
    color: white;
    background-size: cover;   
    background-position: center center;  
    background-attachment: fixed;   
    background-repeat: no-repeat;  
  }
  