.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  .logo {
    font-size: 1.5rem;
  }

  .menu {
    display: flex;
    gap: 1.5rem;
    font-size: 1.1rem;
    background-color: $bg-color-transparent;
  
    li {
      list-style: none;
      a {
        display: block; 
        color: white;
        text-decoration: none;
        padding: 0.5rem; 
        
      }
    }
    
  }
}
a:hover {
  color: $color-link-hover!important;
}
.button {
    background-color: $color-secondary;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    @include border-radius(5px);
  }
  
  .button:hover {
    background-color: darken($color-secondary, 10%);
  }
  .cardText{
    margin-left: 110px;
    background-color: $bg-color-transparent;
    color:white;
    max-width: 750px; 
    border: 2px solid #444; 
    border-radius: 1rem;
  }
 
  @media (max-width: 768px) {
    .navbar-collapse {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #212529; 
      width: 100%;
      z-index: 999;
    }
  }
  .video-highlight {
    background-color: $bg-color-transparent;
    padding: 1rem 1rem;
    border :2px solid #000000;
    border-radius: 0.43rem;
    max-width: 750px;
    margin-left:110px;
  
    .video-box {
      margin: 0px;
      max-width: 750px;
  
      h2 {
        color: $color-link-hover;
        font-size: 2rem;
        font-weight: bold;
      }
  
      
  
      iframe {
        border: 2px solid #000000;
        border-radius: 0.5rem;
      }
    }
  }
  
  
  
  